<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Web Chat App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="{% if dark_mode %}dark-mode{% endif %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-3" href="/">Communism</a>
        <ul class="navbar-nav ml-auto">
            <a class="nav-link px-3 py-2" id="dark-mode-toggle">
                {% if dark_mode %}
                    Light Mode
                {% else %}
                    Dark Mode
                {% endif %}
            </a>

            {% if username %}
                <li class="nav-item">
                    <a class="nav-link px-3 py-2">Logged in as {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/register">Register</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link px-3 py-2" href="/snake">Snake Game</a>
                </li>




        </ul>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='dark_mode.js') }}"></script>
</body>
</html>